aiofiles
click
datamodel-code-generator
debugpy
flytekit
huggingface_hub
ipykernel
jinja2
jupyter
matplotlib
mypy
numpy
pydantic
pytest
pytest-timeout
ray[serve]
ruamel.yaml
ruff
sentencepiece
sortedcontainers
sortedcontainers-stubs
tensorflow
tiktoken
torch
tqdm
transformers