
--index-url https://pypi.org/simple/


aiofiles
click
datamodel-code-generator
ipykernel
jinja2
jupyter
matplotlib
mypy
numpy
pydantic
pytest
pytest-timeout
ruamel.yaml
ruff
sortedcontainers
sortedcontainers-stubs
tiktoken
torch